@using AulaModelo.Modelo.Utils
@using AulaModelo.Modelo.DB

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - L2M S/A</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout Danfe Nota Fiscal -->
    <link href="~/Content/DanfeStyle.css" rel="stylesheet" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Content/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Content/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />


</head>
<body>

    <header>

        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> (+055) 3251-8410</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> l2msa@viannasempre.com</a></li>

                </ul>
                @if (LoginUtils.Usuario == null)

                {
                    <ul class="header-links pull-right">
                        <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                        <li>@Html.ActionLink("Cadastrar", "cadastrarUsuario", "Usuario")</li>
                        <li><i class="fa fa-user-o"></i>@Html.ActionLink("Entrar", "logarSite", "Usuario")</li>
                    </ul>
                }
                else
                {
                    <ul class="header-links pull-right">
                        <li>@Html.ActionLink("Bem vindo " + LoginUtils.Usuario.Nome, "", "")</li>
                        <li>@Html.ActionLink("Histórico de Busca ", "historicoBusca", "Usuario")</li>
                        <li>@Html.ActionLink("Sair ", "Deslogar", "Usuario")</li>
                    </ul>
                }


            </div>
        </div>

        <div id="header">

            <div class="container">

                <div class="row">

                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="~/imagens/logo.png" alt="">
                            </a>
                        </div>
                    </div>


                    <div class="col-md-6">

                        <div class="header-search">
                            <h1 style="color: whitesmoke;"> Sua loja ao alcance das mãos! </h1>
                            @*<form>
                                    <select class="input-select">
                                        <option value="0">Categorias</option>
                                        <option value="1">Category 01</option>
                                        <option value="1">Category 02</option>
                                    </select>
                                    <input class="input" placeholder="Pesquisar">
                                    <button class="search-btn">Pesquisar</button>
                                </form>*@
                        </div>
                    </div>

                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">

                            @if (LoginUtils.Usuario != null)
                            {
                                <div>
                                    <a href="#">
                                        <i class="fa fa-heart-o"></i>
                                        <span>Favoritos</span>
                                        <div class="qty"></div>
                                    </a>
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Seu Carrinho</span>
                                        <div class="qty">
                                            @{
                                                Guid id = (Guid)Session["UsuarioId"];
                                                var lista = DbFactory.Instance.CarrinhoRepository.findAllById(id);
                                            }@lista.Count
                                        </div>
                                    </a>
                                    <div class="cart-dropdown">
                                        <div class="cart-list">

                                            @{
                                                for (int i = 0; i < lista.Count; i++)
                                                {
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="@lista[i].Produto.Imagem" alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name">@lista[i].Produto.Nome</h3>
                                                            <h4 class="product-price"><span class="qty">1x</span>$@lista[i].Produto.Preco</h4>
                                                        </div>


                                                    </div>
                                                }

                                            }

                                        </div>

                                        @*NÃO ENTRA NO FOR*@
                                        <div class="cart-summary">
                                            <small>@lista.Count Item(s) selecionados</small>
                                            <h5>SUBTOTAL: $@DbFactory.Instance.CarrinhoRepository.totalPreco(id)</h5>
                                        </div>
                                        <div class="cart-btns">

                                            @Html.ActionLink("Meu Carrinho", "viewCarrinho", "Produto")
                                            <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#">Masculino</a></li>
                    <li><a href="#">Feminino</a></li>
                    <li><a href="#">Infantil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @Html.Partial("_MenuCategorias", ListaCategorias.Categorias)
                        </ul>
                    </li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Sobre</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Assine o <strong>NEWSLETTER</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Seu Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Se inscrever</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/nouislider.min.js"></script>
    <script src="~/Scripts/jquery.zoom.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>