@using AulaModelo.Modelo.Utils
@using AulaModelo.Modelo.DB
@model IEnumerable<AulaModelo.Modelo.DB.Model.Produto>
@{
    ViewBag.Title = "Produtos";
}



@if (LoginUtils.Usuario != null)
{
    if (LoginUtils.Usuario.AdminSN)
    {
        <br />
        using (Html.BeginForm("Buscar", "Home", FormMethod.Get))
        {
            @Html.Editor("edtBusca")
            <button type="submit" valur="Buscar" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> Buscar
            </button> //@Html.ActionLink(".", "BuscaAvancada")
        }
        <br/>
        @Html.ActionLink("NOVO PRODUTO", "inserirProduto", "Produto")
        <br />
        <br />
        <table class="table table-hover table-bordered table-responsive">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Imagem)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Fabricante)
                </th>
                <th>
                    Preço Venda
                </th>
                <th>
                    Preço Última Compra
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estoque.Quantidade)
                </th>

                <th></th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img class="card-img-top" width="100px" src="@Html.DisplayFor(modelItem => item.Imagem)">
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Fabricante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @{ 
                        var e = DbFactory.Instance.EstoqueRepository.buscarporIdProduto(item.Id);
                    }
                    @e.PrecoAtual
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @{
            var id = item.Id;
            var p = DbFactory.Instance.EstoqueRepository.buscarporIdProduto(id);
            //item.Estoque.Quantidade = p.Quantidade;
                    }
                    @Html.DisplayFor(modelItem => p.Quantidade)
                </td>

                <td>
                    @Html.ActionLink("Editar", "EditarProduto", "Produto", new { id = item.Id }, null) |
                    @Html.ActionLink("Detalhar", "DetalharProduto", "Produto", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "ApagarProduto", "Produto", new { id = item.Id }, null) |
                    @Html.ActionLink("Comentários", "ComentariosProduto", "Produto", new { id = item.Id }, null)
                </td>
            </tr>
            }

        </table>
    }
    <br />
    


    if (!LoginUtils.Usuario.AdminSN)
    {
        using (Html.BeginForm("Buscar", "Home", FormMethod.Get))
        {
            @Html.Editor("edtBusca")
            <button type="submit" valur="Buscar" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> Buscar
            </button> //@Html.ActionLink("Busca avançada", "BuscaAvancada")
        }
        @Html.Partial("_HomePadrao")
    }

}

@if (LoginUtils.Usuario == null)
{

    @Html.Partial("_HomePadrao")
}

