@using AulaModelo.Modelo.Utils
@model AulaModelo.Modelo.DB.Model.Produto

@{
    ViewBag.Title = "DetalharProduto";
}

<h2>DetalharProduto</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estoque)
        </dd>
        </br>
        @if (LoginUtils.Usuario != null)
        {
            using (Html.BeginForm("GravarComentario", "Comentario", FormMethod.Post)) {
                <dt>
                    <input type="hidden" name="Id" value="@ViewBag.IdProduto" />
                    <label>Avaliação</label>
                </dt>
                <dd>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="rdBom" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Bom</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="rdRuim" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Ruim</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="rdNeutro" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Neutra</label>
                    </div>
                </dd>
                <dt>
                    <label for="exampleFormControlTextarea1">Comentários</label>
                </dt>
                <dd>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="txtComentario" rows="3"></textarea>
                </dd>
                <dd>
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </dd>
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Editar produto", "EditarProduto", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index", "Home")
</p>
